.ordersListContainer {
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);
  max-height: calc(100vh - 250px);
  min-height: 300px;
  overflow-y: auto;
}
