.ingredientItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  cursor: pointer;
}

.price {
  display: flex;
}

.name {
  text-align: center;
}

.ingredientModalContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredientModalPropertiesContainer {
  display: flex;
  column-gap: calc(var(--offset-base-size) * 5);
}
