.profile {
  width: 1280px;
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.6fr;
}

.menuContainer {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: calc(var(--offset-base-size) * 2);
  flex-direction: column;
}

.leftColumn {
  display: flex;
  flex-direction: column;
}

.navLink {
  text-decoration: none;
  color: #8585ad;
}

.navLinkActive {
  text-decoration: none;
  color: #f2f2f3;
}

.infoText {
  opacity: 0.4;
}

.logout {
  cursor: pointer;
}
