.burgerIngredients {
    position: relative;
    width: 600px;
    bottom: 0;
}

.tabsContainer {
    display: flex;
}

.ingredientsListContainer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}