.sectionContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.orderNumbersContainer {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
}

.orderNumbersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  /*5 элементов в колонке*/
  grid-template-rows: auto auto auto auto auto;
  column-gap: calc(var(--offset-base-size) * 4);
  row-gap: 8px;
}

.orderDone {
  color: #00cccc;
}

.orderPending {
  color: #f2f2f3;
}

.glowingNumber {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
