.burgerConstructor {
  width: 600px;
  height: calc(100vh - 300px);
}

.innerIngredientsListContainer {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);
  max-height: 464px;
  min-height: 82px;
  height: calc(100vh - 600px);
  overflow-y: auto;
}

.innerIngredientContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: calc(var(--offset-base-size) * 2);
}
