.burgerConstructor {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.innerIngredientsListContainer {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);
  max-height: calc(100vh - 609px);
  min-height: 82px;
  overflow-y: auto;
}

.selectedIngredientsContainer {
  display: flex;
  flex-direction: column;
}

.placeholder {
  height: 78px;
  border: 2px dashed rgb(51 51 255 / 25%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.minBunHeight {
  height: 274px;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f2f2f3;
  border-color: #f2f2f3 transparent #f2f2f3 transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
